%header#main-header
  .wrap
    %h1#logo Logo Here
    %nav#main-navigation
      %ul
        %li= link_to 'Devices', '#admin/devices', class: 'devices'
        %li= link_to 'Settings', '#admin/settings', class: 'settings'
