%header#main-header
  .wrap
    = image_tag '/assets/logo.png'
    %nav#main-navigation
      %ul
        %li= link_to 'Admin', '#admin/devices', class: 'devices'
        %li= link_to 'Device', '/client_connections'
