%ul#devices-list
  -#%li.runing
    -#.basic-data
      -#%span.time 30 : 00
      -#%span.left left time
  -#%li.blocked
    -#.basic-data
      -#%span.time 30 : 00
      -#%span.left left time
  %li.on_hold
    .basic-data.available
      %span.time available
      %span.left Tap to add time
  -#%li.paused
    -#.basic-data
      -#%span.time 30 : 00
      -#%span.left left time
  %li.empty
    .basic-data
      %span Device slot
