.basic-data.available
  %span.time available
  %span.left Tap to add time
#timer{ style: 'display:none;' }
  %span.watch
  .zero-time
  .timer-wrapper{ style: 'display:none;' }
    .counter{id: "<%= @id%>"}

