#side-bar {

  .green-leyend {
    color: #52C597;
  }

  #header {
    border-bottom: solid 1px #C9C7C7;
    text-align: center;
  }

  #device-details {
    border-bottom: solid 1px #C9C7C7;
    margin-top: 15px;
  }
}