%h1 Client

= form_tag(controller: 'client_connections', action: 'create', method: 'post') do
  = label_tag :id, 'ID'
  = text_field_tag :id
  = submit_tag 'Connect'

:javascript
  $(document).ready(function(){
    window.newMessage = new RDC.ClientConnectioUtilities();
    var client_pusher = window.newMessage.newDevice('admin_messages', 'new_device', window.pusher);
  });
