.wrapper-container{id: @device_id}
  %p 
    Device 
    = @device_id
  #messages-container
    %span Messages
    %ul#messages-list
  #counter

:javascript
  $(document).ready(function(){
    window.newMessage = new RDC.ClientConnectioUtilities();
    window.newMessage.receiveMessages('admin_messages', 'new_message', window.pusher);
  });
  
