%h1 Show
#counter
#messages-container
  %p Messages
  %ul#messages-list

:javascript
  $(document).ready(function(){
    window.newMessage = new RDC.ClientConnectioUtilities();
    window.newMessage.receiveMessages('admin_messages', 'new_message', window.pusher);
  });
  
